.logo{
  max-width: 250px;
  width: 100%;
  a{
    display: block;
    max-width: 250px;
    img{
      width: 100%;
    }
  }
  .lang{
    display: flex;
    max-width: 220px;
    width: 100%;
    justify-content: center;
    padding-bottom: 5px;
    .button{
      border: none;
      background: none;
      &.active{
        color: green;
        font-weight: bold;
      }
      &:hover{
        cursor: pointer;
        color: #668351;
        font-weight: bold;
      }
    }
  }
}
@media screen and (min-width: 925px) and (max-width: 1160px) {
  .logo{
    max-width: 200px;
    width: 100%;
  }
}
@media screen and (max-width: 399px) {
  .logo{
    max-width: 200px;
    width: 100%;
  }
}